/* основний колір тексту #212121 */
/* вторичний колір тексту #757575 */
/* акцент #2196F3 */
/* білий колір #FFFFFF */
/* білий колір футер rgba(255, 255, 255, 0.6) */


:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
}



body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}


/* Page header */

.logo,
.logo:focus {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
}

.site-nav .link {
    color: var(--primary-text-color);  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--title-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}


/* Main sections */

.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
   }

/* Hero */

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
}

/* .hero .button:hover,
.hero .button:focus {
    color: var(--accent-color);
} */


/* Features */

.feature-list .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;

}

.feature-list .text {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.7;
}

/* Our Team */

.team-list .title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team-list .text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.2;
}

/* Footer */

.page-footer {
    background-color: #2F303A;
}

.logo,
.logo:focus {
    color: var(--accent-color);
}

.address {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.2;
}

.address:hover,
.address:focus {
    color: var(--accent-color);
}

.footer-link .link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-link .link:hover,
.footer-link .link:focus {
    color: var(--accent-color);
}


/* Portfolio Page */

/* Filter buttons */

button {
    font-family: inherit;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
}


/* Work Examples */

.work-examples .text {
    color: var(--title-text-color);
}